@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  background: #dbd2d2;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.contianer {
  padding: 10px 120px;
  display: flex;
  justify-content: center;
  background-color: white;
  background-image: url("./img/output-onlinepngtools\ \(2\).png");
}
.demo1 h2 {
  font-family: "Dancing Script", cursive;
  margin-left: 5px;
  padding: 10px;
}

.box1 {
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: #f30303;
}
.demos1 img {
  width: 700px;
}
ul {
  display: flex;
}
li {
  list-style: none;
  padding: 0 32px;
  font-family: "Poor Richard";
  font-size: 20px;
}
li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.box1 button {
  text-align: center;
  padding: 16px 16px;
  border: none;
  border-radius: 5px;
  background: #0e1734;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500px;
  cursor: pointer;
}
.box2 {
  display: flex;
  justify-content: space-between;
  margin-top: 125px;
}
.demo2 h1 {
  width: 500px;
  padding-top: 150px;
  font-size: 58px;
  font-family: "Poor Richard";
}
.demo2 p {
  width: 410px;
  line-height: 22px;
  color: #848fac;
  padding-top: 28px;
  font-size: 18px;
}
.demo2 button {
  text-align: center;
  padding: 13px 28px;
  background: #0e1734;
  color: #ffffff;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 32px;
  cursor: pointer;
}
.demo3 {
  display: flex;
}
.demo4 img {
  width: 500px;
  height: 400px;
  margin-top: 70px;
}
.demo4:hover img {
  transform: scale(1.1);
  transition: all 1s ease;
}
.demos2 img {
  padding-top: 90px;
  margin: 0 20px;
}

.main1 {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  height: 500px;
}
#demo5 h2 {
  font-size: 36px;
  width: 400px;
}

.demo5 p {
  line-height: 22px;
  padding-top: 10px;
  font-weight: 400;
  font-size: 16px;
  color: #848fac;
  width: 500px;
}
.demo5 button {
  text-align: center;
  padding: 13px 28px;
  background: #0e1734;
  color: #ffffff;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 32px;
  cursor: pointer;
}
.demo5 {
  padding: 125px 20px 0 0;
}
.box4 {
  padding: 32px 0;
  margin-top: 160px;
  overflow: hidden;
}
.main2 {
  display: flex;
  justify-content: space-between;
}
.demo6 h2 {
  color: #192252;
  font-size: 36px;
  padding-top: 30px;
}
.demo6 p {
  font-size: 18px;
  color: #848fac;
  width: 500px;
  height: 400px;
  padding-top: 34px;
}
.demo7 img {
  width: 500px;
  height: 400px;
}
.demos7 img {
  width: 500px;
  height: 500px;
}
.demos7:hover img {
  transform: scale(1.1);
  transition: all 1s ease;
}
.demo7:hover img {
  transform: scale(1.1);
  transition: all 1s ease;
}
.demo8 {
  font-size: 36px;
  color: #192252;
  text-align: center;
  padding-top: 160px;
}
.demo9 {
  display: flex;
  justify-content: center;
  padding-top: 24px;
}
.demo9 p {
  width: 500px;
  text-align: center;
  color: #848fac;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}
.demo10 {
  display: flex;
  justify-content: center;
}
.demo10 button {
  text-align: center;
  padding: 13px 28px;
  background: #0e1734;
  color: #ffffff;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 32px;
  cursor: pointer;
}
.box6 {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}
.demo12 img {
  width: 350px;
  height: 400px;
  margin-top: 100px;
  border-radius: 5px;
}
.demo11 h4 {
  color: #000000;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  padding: 20px 0;
}
.demo11 p {
  width: 390px;
  font-size: 20px;
  color: #848fac;
  padding: 15px 0;
}
.demo12 span {
  color: #424f7b;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}
.demo12:hover img {
  transform: scale(1.1);
  transition: all 1s ease;
}
.box7 {
  margin-top: 240px;
  display: flex;
  justify-content: space-between;
}
.demo13 p {
  color: #848fac;
  font-size: 28px;
  width: 500px;
}
.demo13 h3 {
  color: #192252;
  font-size: 48px;
  margin: 12px 0 24px 0;
}
.demo13 button {
  text-align: center;
  padding: 16px 28px;
  background: #0e1734;
  color: #ffffff;
  font-size: 19px;
  border-radius: 5px;
  cursor: pointer;
}
.demo14 {
  display: flex;
  align-items: center;
  margin-top: 32px;
}
.demo14 p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #0e1734;
  padding-left: 20px;
}
.demo15 {
  background: whitesmoke;
  font-size: 24px;
  color: #424f7b;
  padding: 28px 20px;
  width: 400px;
  border: 1px solid black;
}
.demo16 {
  background: whitesmoke;
  font-size: 22px;
  color: #424f7b;
  padding: 28px 20px;
  width: 400px;
  margin-top: 30px;
  border: 1px solid black;
}
.demo16 p {
  font-size: 16px;
  color: #848fac;
  padding-top: 10px;
}
.demo17 {
  background: whitesmoke;
  font-size: 22px;
  color: #424f7b;
  padding: 28px 20px;
  width: 400px;
  margin-top: 30px;
  border: 1px solid black;
}
.main5 {
  margin-top: 25px;
}
.demo18 h2 {
  margin-top: 60px;
  font-size: 36px;
  color: #192252;
  text-align: center;
}
.demo19 {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.demo19 img {
  border-radius: 50%;
  width: 100px;
}
.demo20 p {
  width: 700px;
  font-size: 18px;
  color: #848fac;
}
.demo20 {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}
.demo21 {
  color: #192252;
  font-size: 18px;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
.demo22 {
  display: flex;
  justify-content: center;
  padding-top: 24px;
}
.box9 {
  background: #0b265a;
}
.demo19:hover img {
  transform: scale(1.3);
  transition: all 2s ease;
}
.demo23 h3 {
  font-size: 28px;
  color: #ffffff;
  padding: 120px 0 0 120px;
}
.demo23 p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #d9dbde;
  width: 150px;
  padding: 15px 0 0 120px;
}
.demo24 svg {
  padding: 36px 10px 120px 0;
  margin-top: 75px;
}
.demo24 {
  padding-left: 120px;
}
.box9 {
  display: flex;
}
.main7 {
  display: flex;
  justify-content: space-around;
  margin-top: -50px;
}
.demo25 {
  padding: 120px 80px;
}
.demo25 h4 {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
}
.demo25 p {
  color: #d9dbde;
  font-style: normal;
  font-weight: 500px;
  font-size: 18px;
  line-height: 30px;
  width: 250px;
}
.demo24 img {
  width: 350px;
  height: 200px;
  margin-top: 120px;
  margin-left: -100px;
  border-radius: 20px;
}
